.header {
  height: 110px;
  background-color: #141D2F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 90px;
}

.logo-name {
  font-size: 30px;
  font-family: 'Poppins';
}

.logo-color-letters {
  color: #00BEE8;
}

.logo-img {
  width: 100px;
}

.header-link {
  font-size: 23px;
  margin-right: 30px;
  font-family: 'Poppins';

    &:hover {
      cursor: pointer;
      color: #00BEE8;
    }
}


