footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 291px;
  width: calc(100% - 240px);
  padding-left: 120px;
  padding-right: 120px;
  z-index: 2;
  position: relative;
  background-color: #141d2f;
  font-family: "Poppins";
  border-top: 4px solid #00bee8;
  color: white;
  font-family: "Poppins";
  a {
    color: white;
    text-decoration: none;
    cursor: unset;
  }
}

.name-imprint-box {
  display: flex;
  flex-direction: column;
}

.logo-name {
  font-size: 50px;
  font-weight: 700;
  margin-top: 16px;
}

.logo-color-letters {
  color: #00bee8 !important;
}

.imprint {
  font-weight: 400;
  font-size: 16px;
  margin-left: 4px;
  margin-top: -5px;
  width: 59px;
    &:hover {
      cursor: pointer;
      color: #00bee8;
    }
}

.imprint-policy {
  display: flex;
}

.copyright-box {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 23px;
  img {
    margin-right: 4px;
    height: 20px;
    width: 20px;
    object-fit: contain;
  }
}

.icons-box {
  display: flex;
  align-items: center;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.margin {
  margin-right: 32px;
}


//responsiv for small devices

@media(max-width: 1100px) {
  .copyright-box {
    font-size: 18px;
  }
}


@media (max-width: 1010px) {
  footer {
    width: calc(100% - 180px);
    padding-left: 90px;
    padding-right: 90px;
  }
}


@media (max-width: 950px) {
  .copyright-box {
    margin-top: 26px;
    align-items: start;
    font-size: 16px;
    span {
      width: 200px;
    }
    img {
      margin-top: 5px;
      height: 16px;
      width: 16px;
    }
  }

  .logo-name {
    font-size: 40px;
  }
}


@media (max-width: 850px) {
  .margin {
    margin-right: 20px;
  }
}


@media (max-width: 750px) {
  footer {
    width: calc(100% - 120px);
    padding-left: 60px;
    padding-right: 60px;
  }
}


@media (max-width: 700px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }

  .name-imprint-box {
    align-items: center;
  }

  .copyright-box {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    align-items: center;
    span {
      width: unset;
    }
    img {
      margin-top: 0;
    }
  }

  .logo-name {
    margin-bottom: 11px;
    margin-top: 0;
  }
}


@media (max-width: 630px) {
  footer {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media(max-width:360px) {
  .copyright-box {
    font-size: 16px;
  }

  .imprint {
    font-size: 16px;
  }
}


@media(max-width:360px) {
  footer {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }
}


// responsive for bigger devices

@media(min-width: 2500px) {
  footer {
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
  }
}

@media(min-width: 3500px) {
  footer {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
  }
}
