<footer>
  <div class="name-imprint-box">
    <span class="logo-name">J<a class="logo-color-letters">oe</a>rg</span>
    <span class="imprint">Imprint</span>
  </div>
  <div class="copyright-box">
    <img src="assets/img/objects/copyright.png">
    <span>Joerg Schmalgemeier 2023</span>
  </div>
  <div class="icons-box">
    <img class="margin" src="assets/img/objects/github-icon.png">
    <img class="margin" src="assets/img/objects/email-icon.png">
    <img src="assets/img/objects/linkedIn-icon.png">
  </div>
</footer>
