<footer>
  <div class="name-imprint-box">
    <span class="logo-name">J<a class="logo-color-letters">oe</a>rg</span>
    <span class="imprint">Imprint</span>
  </div>
  <div class="copyright-box">
    <img src="assets/img/objects/copyright.png">
    <span>Joerg Schmalgemeier 2023</span>
  </div>
  <div class="icons-box">
    <a href="https://github.com/JorgSchmalgemeier" target="_blank">
      <img class="margin" src="assets/img/objects/github-icon.png">
    </a>
    <a href="mailto:j.schmalgemeier@googlemail.com" target="_blank">
      <img class="margin" src="assets/img/objects/email-icon.png">
    </a>
    <a href="https://www.linkedin.com/authwall?trk=qf&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank">
      <img src="assets/img/objects/linkedIn-icon.png">
    </a>
  </div>
</footer>
