<footer>
  <div class="name-imprint-box">
    <span class="logo-name">J<a class="logo-color-letters">oe</a>rg</span>
    <div class="imprint-policy">
    <a (click)="scrollUp()" routerLink="/imprint">
      <span class="imprint">Imprint</span>
    </a>
    <span>&nbsp;|</span>
    <a (click)="scrollUp()" routerLink="/privacy-policy">
      <span class="imprint">Privacy Policy</span>
    </a>
  </div>
  </div>
  <div class="copyright-box">
    <img src="assets/img/objects/copyright.png">
    <span>Joerg Schmalgemeier 2023</span>
  </div>
  <div class="icons-box">
    <a href="https://github.com/JorgSchmalgemeier" target="_blank">
      <img class="margin" src="assets/img/objects/github-icon.png">
    </a>
    <a href="mailto:j.schmalgemeier@googlemail.com" target="_blank">
      <img class="margin" src="assets/img/objects/email-icon.png">
    </a>
    <a href="https://www.linkedin.com/in/j%C3%B6rg-schmalgemeier/" target="_blank">
      <img src="assets/img/objects/linkedIn-icon.png">
    </a>
  </div>
</footer>
