:host {
  display: block;
  background-color: #141d2f;
  font-family: "Poppins";
}

.headline-box {
  display: flex;
  align-items: center;
  margin-top: -27px;
}

.blue-line {
  width: 80px;
  height: 0;
  margin-right: 40px;
  border: 2px solid #4b47ff;
}

.headline {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-container {
  display: flex;
  color: white;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 85px;
  z-index: 2;
  position: relative;
  width: calc(100% - 240px);
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 150px;
}

.span-headline {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
}

.span-contact {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
}

.span-need {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: baseline;
}

.p-bold {
  font-weight: 700;
  font-size: 16px;
}

form {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    background-color: #141d2f;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
  }

  .input-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: 50px;
    background-color: #141d2f;
    border: 1px solid #4b47ff;
    border-radius: 10px;
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
    outline: #00bee8;
    &:hover {
      border: 1px solid #00bee8;
    }
  }

  textarea {
    background-color: #141d2f;
    width: calc(100% - 15px);
    max-width: calc(100% - 15px);
    height: 202px;
    max-height: 202px;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 48px;
    outline: none;
    border: 1px solid #4b47ff;
    border-radius: 10px;
    outline: #00bee8;
    &:hover {
      border: 1px solid #00bee8;
    }
  }

  textarea::-webkit-scrollbar {
    width: 3px;
  }

  textarea::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  textarea::-webkit-scrollbar-thumb {
    background: #00bee8;
    border-radius: 10px;
  }

  .textarea-div {
    width: 100%;
    height: 217px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141d2f;
    margin-bottom: 35px;
  }

  .red-alert-img {
    display: none;
    position: absolute;
    right: 15px;
    top: 12px;
  }

  button {
    width: 253px;
    height: 58px;
    background-color: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 23px;
    &:hover {
      background-color: #4b47ff;
      cursor: pointer;
    }
  }

  input::placeholder {
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
  }

  textarea::placeholder {
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
  }

  .red-border {
    border: 1px solid red;
    &:hover {
      border: 1px solid red;
    }
  }

  .d-flex {
    display: flex;
  }
}

.scroll-top-div {
  position: absolute;
    right: 118px;
    bottom: 0;
}
