<div class="header-portfolio">
  <div class="scroll-to-portfolio" id="scroll-to-portfolio"></div>
  <div class="headline-container">
    <div class="short-blue-line"></div>
    <h1 class="headline">Portfolio</h1>
  </div>

  <span class="info-text">This page is a sample of my work - please feel free to try them out.</span>

  <div class="long-blue-line"></div>
</div>

<img class="form" src="assets/img/objects/form-portfolio5.png">
<img class="form-2" src="assets/img/objects/form-portfolio2.png">

<app-project *ngFor="let project of projects; let i = index" [project]="project"></app-project>
