:host {
  display: block;
  background-color: #141d2f;
  font-family: "Poppins";
  position: relative;
}

.header-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.scroll-to-portfolio {
  position: absolute;
  top: -110px;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headline {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  margin-left: 56px;
}

.info-text {
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 120px;
}

.short-blue-line {
  border: 2px solid #4b47ff;
  width: 8.5%;
  height: 0;
  margin-left: -160px;
  margin-top: 5px;
}

.long-blue-line {
  border: 2px solid #4b47ff;
  width: 32%;
  height: 0;
  position: absolute;
  top: 68px;
  right: 0;
}

.form {
  position: absolute;
  top: 484px;
  right: 0;
  width: 750px;
}

.form-2 {
  position: absolute;
  bottom: -277px;
  right: 0;
  z-index: 1;
}
