<div class="introduction-container">
  <img
    class="intro-background-form"
    src="../../assets/img/objects/intro-img.png"
  />
  <img class="introduction-img" src="../../assets/img/self-img1.png" />

  <div class="intro-box">
    <div class="text-I-am">I am</div>
    <div class="name-dev">
      <span class="intro-name">Joerg Schmalgemeier</span>
      <span class="intro-dev">Frontend Developer</span>
    </div>
    <button class="btn-talk">Let's talk!</button>
  </div>

  <img class="background-form" src="../../assets/img/objects/intro-form.png" />
</div>

<div class="section-between">
  <div class="contact-icons">
    <div class="blue-line"></div>
    <img src="../../assets/img/objects/github-icon.png" alt="" />
    <img src="../../assets/img/objects/email-icon.png" alt="" />
    <img src="../../assets/img/objects/linkedIn-icon.png" alt="" />
    <span class="contact-mail">j.schmalgemeier@gmail.com</span>
  </div>
  <div class="scroll-down-div">
    <span class="scroll-down">Scroll down</span>
    <img src="../../assets/img/objects/arrow.png">
  </div>
</div>
