<div class="skills-container" id="my-skills">
  <div class="scroll-to-my-skills" id="scroll-to-my-skills"></div>
  <div class="skills">
    <div *ngFor="let skillBox of skills; let i = index" class="skill-box">
      <img src="assets/img/objects/{{ skills[i].img }}" />
      <span>{{ skills[i].name }}</span>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-center" class="headline">
    <h1 class="headline-my-skills">My skills</h1>
    <span class="text-skills">
      I have grown my frontend development skills that have allowed me to
      create different real projects.
    </span>
    <a class="btn-a-skills" href="#scroll-to-contact"><button class="btn-get-in-touch">Get in touch</button></a>
  </div>
  <div class="blue-line"></div>
  <img class="background-form" src="assets/img/objects/form-my-skills.png">
</div>

