@import 'aos/dist/aos.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.loading-body {
  height: 100vh;
  overflow: hidden !important;
}

.site-padding {
  padding-left: 120px;
  padding-right: 120px;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  color: #4B47FF;
  margin-top: 0;
  margin-bottom: 15px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: #00bee8;
  border-radius: 2px;
}

.d-none {
  display: none !important;
}


//responsiv for small devices


@media(max-width: 1250px) {
  h1 {
    font-size: 70px;
  }
}


@media(max-width: 600px) {
  h1 {
    font-size: 60px;
}
}

@media(max-width: 500px) {
  h1 {
    font-size: 55px;
}
}


@media(max-width: 360px) {
  h1 {
    font-size: 45px;
}
}






